@import '~bootstrap/scss/bootstrap';

body {
  background-color: #212c3d;
  color: white;
}

#homeTitle {
  text-align: center;
}

#questionTitle {
  border: 1px solid lightblue;
  padding: 8px;
  margin-top: 12px;
  list-style-type: none;
}

#answerTitle {
  margin-top: 40px;
}

#answerList {
  border: 1px solid lightblue;
  padding: 8px;
  margin-top: 12px;
  list-style-type: none;
}

.questionTitle {
  margin-bottom: 20px;
  margin-top: 20px;
}
