@import '~bootstrap/scss/bootstrap';

body {
  background-color: #212c3d;
  color: white;
}

#homeTitle {
  text-align: center;
}

#Questions {
  border: 1px solid white;
  padding: 8px;
  margin-top: 20px;
  list-style-type: none;
}

.question {
  margin-bottom: 20px;
  margin-top: 20px;
}
